/* OVERLAY */
.card.full {
    max-width: 270px;
    width: calc(100% - 30px);
}
.card.ggrid {
    margin: 5px;
    max-width: 150px;
    width: 43vw;
    @media (max-height: 600px) and (orientation: portrait) {
        width: 34vw;
    }
}
.card.ggrid.newcard {
    animation: slideintop 0.4s ease-out 0.2s forwards;
    left: -50px;
    opacity: 0;
    position: relative;
    top: -100px;
    transform: rotate(-10deg);
}
.card.ggrid.newcard.stopani {
    animation: none;
    left: 0;
    opacity: 1;
    top: 0;
    transform: rotate(0);
}
@keyframes slideintop {
    0% {
        left: -50px;
        opacity: 0;
        position: relative;
        top: -100px;
        transform: rotate(-10deg);
    }
    100% {
        left: 0;
        opacity: 1;
        top: 0;
        transform: rotate(0);
    }
}
.card.ggrid.newcard.pulsate {
    left: 0;
    opacity: 1;
    top: 0;
    transform: rotate(0);
}

.newcard {
    left: -50px;
        opacity: 0;
        position: relative;
        top: -100px;
        transform: rotate(-10deg);
}
.card.ggrid.newcard.slidein {
    left: 0;
    opacity: 1;
    top: 0;
    transform: rotate(0);
    transition: all 0.2s 0.5s ease-in;
}

.overlay .card.pulsate {
    box-shadow: 0px 0px 30px 0px #9e93ff;
    animation: pulsate-more 1s ease-out infinite;
}
@keyframes pulsate-more {
    0%   { box-shadow: 0 0 0 #9e93ff; }
    50%  { box-shadow: 0 0 30px 10px #9e93ff; }
    100% { box-shadow: 0 0 0 #9e93ff; }
}

/*
.card.ggrid.newcard.slidein {
    left: 0;
    opacity: 1;
    top: 0;
    transform: rotate(0);
    transition: all 0.2s 0s ease-in;
}
*/



.overlay .aside {
    display: flex;
    flex-direction: column; 
    height: 100vh;
}


.over-nowplaying, 
.over-nowviewing,
.over-content {
    margin: 0 15px;
    padding: 10px 0;
}
.over-nowplaying {
    margin-top: 15px;
}
.over-nowplaying, 
.over-nowviewing {
    border-bottom: solid 1px #000;
}

.over-notifications {
    margin: 0 15px;
    padding: 15px 5px 5px;
}

.over-notifications .button {
    display: inline-block;
}

.over-content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.over-nowplaying,
.over-nowviewing {
    text-align: left;
}
.round2 .over-nowplaying {
    padding-bottom: 15px;
}

.over-nowplaying .pic,
.player-container .pic {
    border-radius: 50%;
    vertical-align: middle;
}

.double-slection-container {
    display: flex;
    justify-content: center;
}

.cardholder-container,
.walletholder-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.cardholder,
.walletholder {
    background-color: $overlayplaceholder;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    position: relative;
}
.cardholder {
    height: 106px;
    width: 70px;
}
.walletholder {
    height: 106px;
    min-width: 126px;
    padding: 0 35px;
}

.cardholder.deletable.selected:after,
.walletholder.deletable.selected:after {
    background-color: rgba(225, 225, 225, 0.8);
    box-shadow: $boxshadow; 
    border-radius: 50%;
    bottom: -20px;
    content: '\00d7';
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    height: 35px;
    left: 50%;
    line-height: 1;
    margin-left: -18px;
    padding: 3px;
    position: absolute;
    width: 35px;
}

.walletholder .walletrow {
    margin-right: -25px;
    margin-top: 20px;
}

.selected .cardholder-img {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}


.overlay .portfolio-container {
    background-color: transparent;
    box-shadow: none;
    display: block;
    margin: 40px;
    padding: 0 15px;
    text-align: left;
}

.over-nowplaying .portfolio-viewer {
    float: right;
    position: relative;
    text-align: right;
    top: -20px;
}

.over-nowplaying .dropdown {
    background-color: rgba(238,238,238,0.8);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0px 0px 20px -3px rgb(0 0 0 / 80%);
    box-sizing: border-box;
    margin-top: -7px;
    max-height: 0;
    min-width: 100%;
    padding: 2px 7px;
    position: absolute;
    opacity: 0;
    right: 0;
    text-align: left;
    transition: all 0.02s 0s ease-out;
    z-index: 10;
}
.over-nowplaying .dropdown.show {
    max-height: 200px;
    opacity: 1;
    transition: all 0.3s 0s ease-in;
}

.over-nowplaying .dropdown-button {
    cursor: pointer;
    display: block;
    padding: 5px;
    border-top: solid 1px #000;
}
.over-nowplaying .dropdown-button:first-child {
    border-top: none;
}


.select-player-view .over-notifications .button-container {
    margin-bottom: -15px;
}

.player-selection {
    padding: 15px;
    text-align: center;
}

.player-container {
    display: inline-block;
    margin: 0 1% 10px;
    max-width: 150px;
    text-align: center;
    width: 48%;
}

.player-info {
    padding: 10px;
    & > em {
        display: inline-block;
        margin: 8px auto 5px;
    }
}

.player-container .player-info {
    background-color: rgba(238,238,238,0.2);
    border-radius: 8px;
}

.player-container .player-info.selected {
    background-color: rgba(238,238,238,0.8);
}