.table-container .hand {
    bottom: 0;
    left: 50%;
    margin-right: calc(50vw - 200px);
    max-height: 75px;
    max-width: 50vw;
    overflow: hidden;
    padding-left: calc(150px - 50vw);
    position: absolute;
    text-align: left;
    width: 200px;
}

.hand .card {
    left: calc(15% + 20px);
    margin-left: -20%;
    position: relative;
    top: 20px;
    width: 42%;
}

.hand.isplaying--1 {
    bottom: 45%;
    margin-bottom: -15px;
    max-width: none;
    padding-left: 0px;
    margin-left: -100px;
    text-align: center;
    .card {
        left: 20px;
    }
}

.stack {
    left: 50%;
    margin-left: -45vw;
    position: fixed;
    top: calc(85% - 200px);
    width: 90vw;
}

.stack.isplaying--1,
.player-count--5 .stack.isplaying--2,
.player-count--6 .stack.isplaying--2,
.player-count--5 .stack.isplaying--5,
.player-count--6 .stack.isplaying--6 {
    top: 85px;
}

.stack img {
    height: auto;
    margin: 0 5px;
    max-width: 36%;
    width: 120px;
}

.stack .cardstack {
    display: inline-block;
    opacity: 0;
    position: relative;
    top: -176px;
}

.stack .cardstack.pulsate {
    opacity: 1;
}

.stack .cardstack img {
    position: absolute;
    height: auto;
    width: 120px;
    margin: 0 5px;
    top: 0;
    right: 0;
}
.stack .cardstack.pulsate.card-1 img:last-child {
    top: -20px;
    right: 30px;
    transition: all 0.7s 0s ease-out;
}

.stack .cardstack.pulsate.card-3 img {
    top: -40px;
    right: 60px;
    transition: all 0.7s 0s ease-out;
}
.stack .cardstack.pulsate.card-3 img:first-child {
    top: -20px;
    right: 30px;
    transition: all 0.7s 0s ease-out;
}
.stack .cardstack.pulsate.card-3 img:last-child {
    top: -60px;
    right: 90px;
    transition: all 0.7s 0s ease-out;
}

.playing .stack .cardstack.pulsate.card-1 img:last-child {
    top: 20px;
    right: 30px;
    transition: all 0.7s 0s ease-out;
}
.playing .stack .cardstack.pulsate.card-3 img {
    top: 40px;
    right: 60px;
    transition: all 0.7s 0s ease-out;
}
.playing .stack .cardstack.pulsate.card-3 img:first-child {
    top: 20px;
    right: 30px;
    transition: all 0.7s 0s ease-out;
}
.playing .stack .cardstack.pulsate.card-3 img:last-child {
    top: 60px;
    right: 90px;
    transition: all 0.7s 0s ease-out;
}





.info em {
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    padding: 7px 5px;
}

.portfolio .select {
    padding-left: 15px;
}
.portfolio .select .card {
    margin-left: -40px;
}
.portfolio .select .card.wallet {
    top: -10px;
    position: relative;
    z-index: -1;
}
.portfolio .select .cardholder {
    background-color: rgba(238,238,238,0.6);
    border-radius: 8%;
    display: inline-block;
    padding-left: 50px;
    margin-left: 5px;
}
.portfolio .select.confirmed .cardholder {
    background-color: transparent;
}
.portfolio .select .cardholder .card {
    display: block;
    margin-left: -50px;
    opacity: 0;
}
.portfolio .select.selected .cardholder .card {
    opacity: 1;
    transition: all 0.2s 0s ease-out;
}
.portfolio .select.confirmed .cardholder .card {
    margin-left: -90px;
    transition: all 0.2s 0s ease-out;
}



