.table-container .hand {
    bottom: 0;
    left: 50%;
    margin-right: calc(50vw - 200px);
    max-height: 75px;
    max-width: 50vw;
    overflow: hidden;
    padding-left: calc(150px - 50vw);
    position: absolute;
    text-align: left;
    width: 200px;
}

.hand .card {
    left: calc(15% + 20px);
    margin-left: -20%;
    position: relative;
    top: 20px;
    width: 42%;
}

.isplaying--1 .hand {
    bottom: 51%;
    margin-bottom: -15px;
    max-height: none;
    max-width: none;
    padding-left: 0px;
    margin-left: -100px;
    text-align: center;
    @media (max-height: 800px) {
        max-height: 12vh;
    }
    @media (max-height: 540px) {
        max-height: 10vh;
    }
    .card {
        left: 20px;
    }
}

.player-count--5.isplaying--2 .hand,
.player-count--6.isplaying--2 .hand,
.player-count--5.isplaying--5 .hand,
.player-count--6.isplaying--6 .hand {
    z-index: 10;
}


.info em {
    font-size: 14px;
    font-style: normal;
    line-height: 1;
    padding: 7px 5px;
}

.portfolio .select {
    padding-left: 15px;
}
.portfolio .select .card {
    margin-left: -40px;
}
.portfolio .select .card.wallet {
    top: -10px;
    position: relative;
    z-index: -1;
}
.portfolio .select .cardholder {
    background-color: rgba(238,238,238,0.6);
    border-radius: 8%;
    display: inline-block;
    padding-left: 50px;
    margin-left: 5px;
}
.portfolio .select.confirmed .cardholder {
    background-color: transparent;
}
.portfolio .select .cardholder .card {
    display: block;
    margin-left: -50px;
    opacity: 0;
}
.portfolio .select.selected .cardholder .card {
    opacity: 1;
    transition: all 0.2s 0s ease-out;
}
.portfolio .select.confirmed .cardholder .card {
    margin-left: -90px;
    transition: all 0.2s 0s ease-out;
}



