$font-family: 'Roboto', sans-serif;
$font-family-header: 'Roboto', serif;

$font-size: 16px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-big: 19px;

$animation-duration: 200ms;

$border-thickness: 2px;
$border-thickness-bold: $border-thickness * 2;

$background-gradient: linear-gradient(90deg, rgba(85, 5, 66, 1) 0%, rgba(176, 109, 84, 1) 50%, rgba(85, 5, 66, 1) 100%);
$black: #050505;
$black-transparent: rgba(0, 0, 0, 0.7);
$header-gray: #262626;
$dark-gray: #1a1a1a;
$white: #F5F5F5;
$main-color-a: #1B0650;
$main-color-b: #4AAE9B;
$main-color-c: #FFC562;
$minor-color-a: #560541;
$minor-color-b: #12D1D1;
$minor-color-c: #CA3E0E;


$notification-info: #1f1f1f;
$notification-fail: #D61224;
$notification-success: #25d612;