$font-family: 'Oswald', sans-serif;

$font-size: 16px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-big: 19px;

$animation-duration: 200ms;

$boxshadow: 0px 0px 20px -3px rgb(0 0 0 / 40%);

$borderradius: 10px;

$background: #efefef;
$background-lighter: #f6f6f6;
$overlayplaceholder: #dadada;

$violet: #9e93ff;

$notification-info: #1f1f1f;
$notification-fail: #D61224;
$notification-success: #25d612;


$appheaderheight: 44px;
$tableheight: calc(100vh - $appheaderheight);


//keeping these to not break legacy styles
$black: #050505;
$white: #F5F5F5;
$border-thickness: 1px;
$border-thickness-bold: $border-thickness * 2;
$main-color-b: #307569;
$minor-color-c: #a32d06;
$font-family-header: 'Arial', serif;